* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

    /*Container*/
.container{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

    /*Bagian Header Menu*/
header {
  height: 100px;
  background-color: #000000;
  width: auto;
  background-size: cover;
  padding: 0 20px;
  color: #fff;
}

.logo {
  line-height: 100px;
  float: left;
  font-size: 50px;
  margin-left: 30px;
  cursor: pointer;
}

.logo:hover {
  transition: 0.5s;
  color: rgb(255, 0, 0);
}
    /*Menu*/
.menu {
  float: right;
  line-height: 100px;
}
.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}

.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn {
  float: right;
}
.show-menu-btn i {
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: rgb(255, 0, 0);
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  box-sizing: border-box;
  height: 39rem;
  background-image: url(src/bg1.jpg);
  background-size: 100%;
  color: white;
  text-align: center;
  width: 100%;
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  font-weight: bold;
  opacity: 1;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 140px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

a.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.25rem 2.25rem;
  color: white;
  opacity: 0.8;
  border-radius: 27px;
  border: solid white 2px;
}
.join {
  background-color: rgb(255, 0, 0);
  transition: 0.5s;
}


.btn:hover {
  background-color: rgb(104, 2, 2);
}

/* animasi border-bottom */
.menu a {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px;
}

.menu a:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.menu a:hover:after {
  width: 100%;
  background: rgb(255, 0, 0);
}
    /* end header */


    /*Divider Garis Batas*/
.divider{
  width: 5%;
  margin: 10px auto;
  margin-bottom: 30px;
}

    /*Main-Content*/
.main-content{
  background: rgb(240,30,30);
  background-size: cover; 
  padding: 100px;
  color: #fefefe;
}

.main-content-about{
  text-align: center;  
}

.main-content-about h2{
  display: inline-block;
  margin: 10px;
  font-size: 19pt;
}

.main-content-about-txt{
  float: left;
}

.main-content-about-txt h3{
  font-size: 16pt;
  margin-bottom: 10px;
}

.main-content-about-txt p{
  margin-left: 30px; 
}


.main-content-about-txt img{
  float: right;
  width: 650px;
  padding-left: 100px;
  margin-right: -60px;
  padding-top: 30px;
}

.navigasinext{
  padding-top: 80px;
  text-align: center;
  clear: both;
}



a.next{
  display: inline-block;
  background-color: #333;
  text-decoration: none;
  color: white;
  padding: 20px;
}

  /*End Main-Content*/

  /*Main-Service*/
.main-service{
  background: #fefefe;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;  
}

.main-service-about h2{
 display: inline-block;
  margin: 10px;
  font-size: 19pt; 
}

.main-service-content-wrapper{
  display: flex;
  flex-wrap: wrap;
  text-align: center;

}

.main-service-content{
  padding-left: 5%;
  padding-right: 5%;
  flex: auto;
  width: 50%;
}

.main-service-content h3{
  padding: 15px;
}

.main-service-content-txt{
  margin-bottom: 30px;
}

  /*Main-Service-Icon*/
.fas{
  font-size: 50px;
  color: rgb(240,30,30);
}











    /*Responsif Smartphone*/
@media screen and (max-width: 800px) {
  .top-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }
  .menu {
    position: fixed;
    width: 85%;
    height: 100%;
    background: #000000;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 1;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu {
    right: 0;
  }
}
